:root {
    --clr-primary-300: hsl(178, 100%, 50%);
    --clr-primary-400: hsl(215, 51%, 70%);
    --clr-neutral-100:  hsl(0, 0%, 100%);
    /* line */
    --clr-neutral-200: hsl(215, 32%, 27%);
    /* card bg */
    --clr-neutral-300: hsl(216, 50%, 16%);
    /* bg */
    --clr-neutral-400: hsl(217, 54%, 11%); 

    --fs-400: 1.125rem;
    --fs-500: 1.5rem;

    --fw-300: 300;
    --fw-400: 400;
    --fw-600: 600;

    --ff-default: "Outfit", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

h1 {
    margin-bottom: 1rem;
    line-height: 1.1;
}

p {
    margin: 0;
}

img,
picture {
    max-width: 100%;
    display: block;
}

main {
    --gap: 1rem;
    --border-radius: 1rem;
    max-width: 350px;
    padding: 1.5rem;
    border-radius: var(--border-radius);
}

.nft-image {
    position: relative;
}

.nft-hover-image {
    background-color:  hsla(178, 100%, 50%, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 50% 0 0 50%;
    transform: translate(-50%, -50%);
    transition: opacity 400ms linear;
    border-radius: calc(var(--border-radius) - .5rem);
    opacity: 0;
}

.nft-hover-image:hover {
    opacity: 1;
}

img[alt="nft token"]{
    border-radius: calc(var(--border-radius) - .5rem);
}

img[alt="eye icon"] {
    position: absolute;
    inset: 50% 0 0 50%;
    transform: translate(-50%, -50%);
}

img[alt="Jules Wyvern"]{
    border: 1px solid var(--clr-neutral-100); 
    border-radius: 50%;
}

.nft-creator, h1 {
    transition: color 400ms ease-in-out;
}

:is(h1, .nft-creator, .nft-hover-image):hover {
    cursor: pointer;
    color: var(--clr-primary-300);
}

section:nth-child(2) {
    padding-block: 1rem;
    border-bottom: 1px solid var(--clr-neutral-200);
}

section:nth-child(2) > * {
    --gap: 0.5rem;
    gap: var(--gap);
}

footer {
    gap: var(--gap);
    margin-top: 1rem;
}

/* typography */
.ff-default {font-family: var(--ff-default);}
.fw-300 {font-weight: var(--fw-300);}
.fw-400 {font-weight: var(--fw-400);}
.fw-600 {font-weight: var(--fw-600);}
.fs-500 {font-size: var(--fs-500);}

/* colors */
.fc-light {color: var(--clr-neutral-100);}
.fc-default {color: var(--clr-primary-400);}
.fc-accent {color: var(--clr-primary-300);}
.bg-main {background-color: var(--clr-neutral-400);}
.bg-card {background-color: var(--clr-neutral-300);}

/* utility */
.flex {display: flex;}
.grid { display: grid;}
.center-items {place-items: center;}
.space-between {justify-content: space-between;}
.size-35 {
    width: 35px;
    height: 35px;
}